<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <customErrors mode="RemoteOnly" defaultRedirect="/404.hmtl">
        <error statusCode="404" redirect="/404.hmtl" />
        <error statusCode="500" redirect="/500.hmtl"/>
        </customErrors>
    </system.web>

    <system.webServer>
        <httpErrors existingResponse="PassThrough" />    
        <staticContent>
               <remove fileExtension=".mp4" />
               <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
               <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
        </staticContent>
    </system.webServer>
</configuration>